/* Add your custom CSS below */
#mktoStyleLoaded {
    /* css load detection, do not remove */
    color:#123456;
}
.mktoForm fieldset {}
.mktoForm fieldset legend{}
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date] {
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: sans-serif;
    float:none;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    display: block;
    width: 100% !important;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: sans-serif;
}
.mktoForm textarea.mktoField {
    min-height:75px;
}

.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    font-family: sans-serif;
}

.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    font-family: sans-serif;
}
.mktoForm button[type=submit],
.mktoForm input[type=submit] {
    background-image: none;
    background-color:#ffdd00;
    border:none;
    outline:none;
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #000;
    font-family:'Oswald', sans-serif;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mktoForm label[for=FirstName],
.mktoForm label[for=LastName],
.mktoForm label[for=Company],
.mktoForm label[for=Email],
.mktoForm label[for=Phone],
.mktoForm label[for=Country],
.mktoForm label[for=State],
.mktoForm label .mktoAsterix,
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display:none !important;
}
.mktoForm .mktoFieldWrap {
    float:none;
}
.mktoForm .mktoButtonRow,
.mktoForm .mktoButtonRow .mktoButtonWrap {
    display: block;
    width: 100% !important;
    margin:0 0 0 0 !important;
}
.mktoForm .mktoFormCol {
    float:none;
    margin:0 0 15px 0 !important;
    padding:0 0 0 0;
    width: 100%;
}
.mktoForm {
    width: 100% !important;
    padding-bottom:20px;
    color:#fff;
}
.mktoForm .mktoHtmlText,
.mktoForm label {
    color:#fff;
    font-weight:normal !important;
    width: 100% !important;
    margin:0 0 5px 0 !important;
    text-align:center;
}
label[for=optMail] {
    width:90% !important;
    float:right !important;
    text-align:left !important;
}
/*CUSTOM*/
.mktoForm {
    width: 100% !important;
    padding-bottom: 20px;
    color: #fff;
}
.mktoForm .mktoFormCol {
    float: none;
    margin: 0 0 5px 0 !important;
    padding: 0 0 0 0;
    width: 100%;
}
.mktoForm .mktoLabel {
    float: left;
    line-height: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#formFields select {
    margin-bottom: 0px;
}
#formSub p {
    margin: -80px 0;
}
.mktoForm {
    margin-top: -80px;
    color: #333;
}.mktoForm label {
     color: #333;
 }

.mktoForm button[type=submit], .mktoForm input[type=submit] {
    cursor: pointer;
    /*background: url(http://pages.logicnow.com/rs/356-UVH-403/images/Try_Now_btn-test.gif);*/
    display: block;
    width: 155px !important;
    height: 43px;
}

.mktoForm .mktoButtonWrap.mktoCupidGreen .mktoButton {
     background-color: #7fbf4d;
     background-image: url(http://pages.logicnow.com/rs/356-UVH-403/images/Try_Now_btn-test.gif) !important;
}
.mktoButtonWrap.mktoCupidGreen  {
    margin-left: 50px !important;
}