@charset "utf-8";
/* CSS Document */

a img {
    border: 0 none;
}

body {
    font: 16px "myriad-pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666;
    background: #e8e4e1;
    margin: 0;
    padding: 0;
}

.sitecontainer {
    width: 920px;
    margin: 0 auto;
}

#header {
    height: 90px;
    font-size: 0.875em;
}

#header h1 {
    margin: 30px 0 0 0;
}

#header .logo {
    float: left;
    width: 400px;
}

#header .contactdetails {
    width: 480px;
    float: right;
    text-align: right;
}

#header .contactdetails p {
    margin: 33px 0 0 0;
}

#content {
    position: relative;
    float: left;
    width: 920px;
    background: #fff;
    padding: 0 0 40px 0;
    margin: -20px 0 0 0;
}

#content .bannerbox {
    width: 600px;
    background: #fff;
    padding: 20px;
    position: relative;
}

#content .bannerbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content .bannerbox ul li {
    width: 600px;
}

#content .bannerbox ul li p {
    width: 525px;
    text-align: center;
    margin: 50px auto 0;
}

#content .bannerbox .nav {
    text-align: center;
    margin: 30px 0 10px 0;
    position: absolute;
    width: 600px;
    left: 20px;
    top: 410px;
    z-index: 20;
}

#content .bannerbox .nav a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 10px;
    height: 9px;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2508565769-png/max_extra/RM/V5/imgs/bannerbullets.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    margin: 0 3px;
}

#content .bannerbox .nav a.activeSlide {
    background-position: 0 100%;
}

#content .pointslist {
    background: #fff;
    padding: 40px 20px 0;
}

#content .wrapper {
    width: 600px;
}


#content .pointslist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content .pointslist ul li {
    width: 275px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 0 50px 0;
    vertical-align: top;
}

#content .pointslist ul li .icon {
    width: 65px;
    height: 57px;
    margin: 0 auto;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2508560724-png/max_extra/RM/V5/imgs/icons_dark.png) no-repeat 50% 0;
    display: block;
}

#content .pointslist ul li.pointtwo .icon {
    background-position: 50% -57px;
}

#content .pointslist ul li.pointthree .icon {
    background-position: 50% -113px;
}

#content .pointslist ul li.pointfour .icon {
    background-position: 50% -175px;
    width: 70px;
}

#content .pointslist ul li h2 {
    font-size: 1.05em;
    margin: 15px 0 4px;
    color: #333;
}

#content .pointslist ul li p {
    margin : 0;
    line-height: 1.3em;
}

#content .pointslist ul li h2, #content .pointslist ul li p {
    text-align: center;
}

#content .pointslist ul li.pointthree, #content .pointslist ul li.pointfour {
    margin: 0;
}

#content .pointslist ul li.pointone, #content .pointslist ul li.pointthree {
    margin: 0 45px 0 0;
}

#content #rightcolumn {
    z-index: 10;
    float: right;
    margin: -20px -20px 0 0;
    position: relative;
    width: 305px;
}

#content .form {
    padding: 19px;
    border: 8px solid #fff;
    background: #e8e4e2;
    font-size: 0.875em;
    -moz-box-shadow: 0px 3px 12px #9b9b9b;
    -webkit-box-shadow: 0px 3px 12px #9b9b9b;
    box-shadow: 0px 3px 12px #9b9b9b;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#9b9b9b')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#9b9b9b');
}

#content .form h2 {
    padding: 0 0 16px 0;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2507564992-gif/max_extra/RM/V5/imgs/blueboxarrow.gif) no-repeat 50% 100%;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#content .form h2 span {
    background: #0079c0;
    display: block;
    padding: 10px 13px;
}

#content .form input[type="text"] {
    background: #fff;
    border: 0 none;
    display: block;
    padding: 7px 8px;
    font-family: "myriad-pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666;
    width: 230px;
    font-size: 1em;
}

#content .form select {
    border: 0 none;
    width: 100%;
    padding: 7px;
    width: 245px;
    font-family: "myriad-pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 1em;
}

#content .form .sbHolder {
    color: #666;
    font-size: 1em;
    font-family: "myriad-pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
    position: relative;
}

#content .form .sbSelector {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 7px;
    background: #fff;
    min-height: 18px;
}

#content .form .sbToggle {
    width: 24px;
    height: 24px;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2499058858-png/max_extra/RM/V5/imgs/dropdownicon.png) no-repeat 0 0;
    position: absolute;
    top: 4px;
    right: 7px;
    display: block;
}

#content .form .sbOptions {
    background: #fff;
    list-style: none;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 32px;
    width: 243px;
    z-index: 1;
    overflow-y: auto;
    border: 1px solid #9b9b9b;
    -moz-box-shadow: 0px 3px 5px #9b9b9b;
    -webkit-box-shadow: 0px 3px 5px #9b9b9b;
    box-shadow: 0px 3px 5px #9b9b9b;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#9b9b9b')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#9b9b9b');
}

#content .form .sbOptions li{
    border-bottom: 1px solid #DDD;
}

#content .form .sbOptions li a {
    padding: 5px;
    color: #666;
    text-decoration: none;
    display: block;
}

#content .form .sbOptions li span {
    padding: 5px;
    display: block;
    color: #666;
}

#content .form .sbOptions li a:hover {
    background: #EEE;
}

#content .form select option {
    width: 100%;
}

#content .form .rowfield {
    margin: 0 0 20px 0;
    *margin: 0 0 5px 0;
}

#content .form .subtext {
    font-size: 0.8em;
    color: #605f5e;
    text-align: right;
    width: 240px;
}

#content .form .requiredtext {
    font-size: 0.85em;
}

#content .form .submitbutton {
    text-align: right;
}

#content .form .submitbutton input {
    width: 204px;
    height: 68px;
    overflow: hidden;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2508570784-png/max_extra/RM/V5/imgs/btn_trynow.png) no-repeat 0 0;
    border: 0 none;
    cursor: pointer;
    color: #fff;
    font-size: 1.625em;
    font-family: "myriad-pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 0 0 6px 23px;
}

#content .form .submitbutton input:hover, #content .form .submitbutton input:active {
    background: url(http://cdn2.hubspot.net/hub/120076/file-2508570784-png/max_extra/RM/V5/imgs/btn_trynow.png) no-repeat 0 100%;
    color: #333333;
}

#content .rightbox {
    text-align: center;
    width: 280px;
    margin: 15px 0 0 0;
}

#content .cyclelogos {
    width: 280px;
    margin: 20px auto;
    list-style: none;
    padding: 0;
}

#content .cyclelogos li{
    margin: 0;
    padding: 0 50px;
    text-align: center;
    width: 180px;
}

#content .rightbox .nav {
    text-align: center;
    margin: 30px 0 10px 0;
    width: 280px;
}

#content .rightbox .nav a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 10px;
    height: 9px;
    background: url(http://cdn2.hubspot.net/hub/120076/file-2508565769-png/max_extra/RM/V5/imgs/bannerbullets.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    margin: 0 3px;
}


#content .rightbox .nav a.activeSlide {
    background-position: 0 100%;
}


#footer {
    background: #0079c0;
    color: #fff;
    padding: 0 20px;
    font-size: 0.75em;
    height: 40px;
    clear: both;
}

#footer .leftfooter {
    float: left;
    line-height: 40px;
}

#footer .rightfooter {
    float: right;
    line-height: 40px;
    vertical-align: middle;
}

#footer .rightfooter strong {
    margin: 0 15px 0 0;
}

#footer .rightfooter img {
    vertical-align: middle;
}

/*#footer .rightfooter .addthis_button {
	color: #fff;
	text-decoration: none;
	padding: 10px 45px 10px 0;
	background: url(../imgs/icon_sharethis.jpg) no-repeat 100% 50%;
}

#footer .rightfooter .addthis_button:hover {
	text-decoration: underline;
}
/*
#footer .st_sharethis_custom {
	background: url(../imgs/icon_sharethis.jpg) no-repeat 0 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	cursor: pointer;
}
*/

.main_body{
    padding: 30px 30px 0 30px;
}

.tick_up {
    list-style:none;
    margin-bottom:25px;
}

.tick_up li {
    background:url(http://cdn2.hubspot.net/hub/120076/file-2507564987-jpg/max_extra/RM/V5/imgs/blue_tick.jpg) no-repeat left center;
    padding-left: 30px;
    margin: 7px 0;
}

.pointslist_title, h3{
    font-size: 18px;
    font-weight:bold;
    color:#0079c3;
}

.main_body h3{
    padding: 0px;
    margin: 0px;
}

.pointslist_title{
    padding: 30px 30px 0 30px;
}

.textOverImg{
    position:absolute;
    left: 0px;
    padding:10px 0px;
    background-color:black;
    width:100%;
    color:white;
    font-weight:bold;
    text-align:center;
    font-size:15px;
    opacity:0.9;
    filter:alpha(opacity=90);
}
.textOverImgTop{
    top: 0px;
}

.textOverImgBottom{
    top: 340px;
}

.pointthree, .pointfour {
    padding: 20px 10px;
}

#footer a {
    color: #fff;
}